<!DOCTYPE html>
<html>

<head>
  <title>
    dashboard
  </title>
  <meta charset='utf-8' />


  <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
  <link rel="manifest" href="/fav/site.webmanifest">
  <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href='css/normalize.css' rel='stylesheet' />


  <link href='css/dashboard.css' rel='stylesheet' />
</head>

<body>

  <div class="page page-dashboard">
    <aside class="page_aside aside vertical vertical-big">
      <div class="aside_logo">Sidebar</div>
      <nav class="vertical vertical_small">
        <a href="#" class="nav-button nav-button_active click">
          <span class="icon nav-button_icon" style="background-image: url('/nav/home.svg')"></span>
          <span class="text text-light">Home</span>
        </a>
        <a class="nav-button nav-button_">
          <span class="icon nav-button_icon" style="background-image: url('/nav/orders.svg')"></span>
          <span class="text text-light">Orders</span>
        </a>
        <a class="nav-button nav-button_">
          <span class="icon nav-button_icon" style="background-image: url('/nav/products.svg')"></span>
          <span class="text text-light">Products</span>
        </a>
      </nav>
    </aside>
    <header class="header">
      <div class="layout header_content text-small">
        <div class="header_search">
          <input type="text" placeholder="Search" class="field field_header">
          <span class="icon header_icon-search" style="background-image: url('/header/search.svg')"></span>
          <span class="icon icon-header-settings icon-button icon-color-blue click"
            style="background-image: url('/header/seatting.svg')"></span>

        </div>
        <div class="icon_header">
          <span class="icon icon-header-zvuck" style="background-image: url('/header/zvuck.svg')"></span>
          <span class="icon icon-header-xa" style="background-image: url('/header/xa.svg')"></span>
          <span class="icon icon-header-dzvinock" style="background-image: url('/header/dzvinock.svg')"></span>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="layout">
        <section class="box analituk_block">
          <div class="analituk analituk_double analituk_blue">
            <span class="icon analituk_button icon-button icon-color-blue click"
              style="background-image: url('/analituk/order.svg')"></span>
            <div class="analituk_content vertical vertical_small">
              <div class="analituk_title text text-light">$961</div>
              <div class="analituk_info text text-small text-lighter">Total Order</div>
              <span class="icon analituk_arrow" style="background-image: url('/analituk/arrow.svg')"></span>
            </div>
          </div>
          <div class="analituk analituk_double analituk_purple">
            <span class="icon analituk_button icon-button icon-color-purple click"
              style="background-image: url('/analituk/earning.svg')"></span>
            <div class="analituk_content vertical vertical_small">
              <div class="analituk_title text text-light">$500.00</div>
              <div class="analituk_info text text-small text-lighter">Total earning</div>
              <span class="icon analituk_arrow" style="background-image: url('/analituk/arrow.svg')"></span>
            </div>
          </div>
          <div class="analituk_total">
            <span class="icon analituk_button icon-button icon-color-blue click"
              style="background-image: url('/analituk/earning.svg')"></span>
            <div class="analituk_total_content">
              <div class="analituk_title text text-light">$203k</div>
              <div class="analituk_info text text-small text-lighter">Total Income</div>
            </div>
          </div>
          <div class="analituk_total analituk_total_income">
            <span class="icon analituk_button icon-button icon-color-yellow click"
              style="background-image: url('/analituk/total.svg')"></span>
            <div class="analituk_total_content">
              <div class="analituk_title text text-black">$203k</div>
              <div class="analituk_info text text-small text-gray">Total Income</div>
            </div>
          </div>
        </section>
        <div class="main_1">
          <main class="box_main main_double">
            <h1 class="purchase_list_title">Purchase list</h1>
            <div class="purchase_list">
              <div class="purchase_list purchase_list_content">
                <p>ID437661</p>
                <p>May 11, 2023, 14:21</p>
              </div>
              <div class="purchase_list_content">
                <p>AirOn ProCam</p>
                <p>7/8 USB Type-C</p>
              </div>
              <div class="purchase_list_content">
                <p>132.32 EUR</p>
                <p class="content_warning">Not paid</p>
              </div>
              <div class="purchase_list_content">
                <p>Customer</p>
                <p>robin@com.de</p>
              </div>
              <div class="purchase_list_content">
                <p>ID437661</p>
                <p>May 11, 2023, 14:21</p>
              </div>
              <div class="purchase_list_content">
                <p>PHILIPS Essential</p>
                <p>HD9200/90</p>
              </div>
              <div class="purchase_list_content">
                <p>543 USDl</p>
                <p class="content_success">Pay by Stripe</p>
              </div>
              <div class="purchase_list_content">
                <p>Customer</p>
                <p>dima@com.ua</p>
              </div>
            </div>
          </main>
          <main class="box_payment main_payment">
            <h1 class="purchase_list_title">Payment</h1>
            <div class="payment_block">
              <div class="form_payment">
                <div class="form">
                  <input class="form-check-input" type="radio">
                  <label class="form-check-label">Credit card</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio">
                  <label class="form-check-label">Debit card</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio">
                  <label class="form-check-label">PayPal</label>
                </div>
              </div>
              <div class="mb_payment">
                <div class="form_mb_payment">
                  <label class="form-label">Name on card</label>
                  <input class="form-control">
                </div>
                <div class="form_mb_payment">
                  <label class="form-label">Credit card number</label>
                  <input class="form-control">
                </div>
              </div>
              <div class="mb_payment">
                <div class="form_mb_payment">
                  <label class="form-label">Expiration</label>
                  <input class="form-control">
                </div>
                <div class="form_mb_payment">
                  <label class="form-label">CVV</label>
                  <input class="form-control">
                </div>
              </div>

              <div class="form_box">
                <div class="select">
                  <label clas="form-label">Country</label>
                  <select class="form_select click">
                    <option selected>Choos...</option>
                    <option value="hund">Hund</option>
                    <option value="blumen">Blumen</option>
                    <option value="pflanz">Pflanz</option>
                    <option value="catze">Catze</option>
                  </select>
                </div>

                <div class="select">
                  <label clas="form-label">State</label>
                  <select class="form_select click">
                    <option selected>Choos...</option>
                    <option value="hund">Hund</option>
                    <option value="blumen">Blumen</option>
                    <option value="pflanz">Pflanz</option>
                    <option value="catze">Catze</option>
                  </select>
                </div>
              </div>

              <button class="payment_button">Continue to checkout</button>

            </div>
          </main>
        </div>
      </div>
    </main>
  </div>



</body>

</html>