<!DOCTYPE html>
<html>

<head>
  <title>
    slack Page
  </title>
  <meta charset='utf-8' />


  <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
  <link rel="manifest" href="/fav/site.webmanifest">
  <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href='css/normalize.css' rel='stylesheet' />

  <link href='css/slack.css' rel='stylesheet' />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

  <div class="page">
    <section class="page_section">
      <div class="page_content hero_section">
        <div class="hero">
          <div class="hero_content">
            <span class="hero_label">Slack Features</span>
            <h1 class="hero_title">One platform for your team and your work</h1>
            <p class="hero_info double_line">All the features of Slack work together so you can, too.</p>
            <div class="hero_buttons">
              <a href="#" class="button button_primary click">Try for free</a>
              <a href="#" class="button button_secondary click">See all features</a>
            </div>
          </div>
          <img src="/image/hero.png" alt="Hero" class="hero_image">
        </div>



        <div class="brands">
          <img src="/image/brands/airbnb.png" alt="airbnb" class="brands_image">
          <img src="/image/brands/intuit.png" alt="intuit" class="brands_image">
          <img src="/image/brands/newscorp.png" alt="newscorp" class="brands_image">
          <img src="/image/brands/onemedica.png" alt="onemedica" class="brands_image">
          <img src="/image/brands/sonos.png" alt="sonos" class="brands_image">
          <img src="/image/brands/target.png" alt="target" class="brands_image">
          <img src="/image/brands/uber.png" alt="uber" class="brands_image">
          <img src="/image/brands/va.png" alt="va" class="brands_image">
        </div>
      </div>
    </section>
    <section class="page_section page_section_light">
      <div class="page_content features_section">

        <h2 class="features_title">Work more easily with everyone</h2>
        <p class="features_description double_line">Stay on the same page and make decisions faster by bringing all of
          your
          work communication into one place.</p>


        <div class="features_grid_4">
          <div class="feat_card">
            <span class="icons feat_icon" style="background-image: url('/feature/connect.svg')"></span>
            <strong>Slack Connect</strong>
            <p class="double_line">Collaborate with teams at other companies the same way you do
              with teams at your own.</p>
            <a href="#" class="icon icon_arrow click feat_link"></a>
          </div>

          <div class="feat_card">
            <span class="icons feat_icon" style="background-image: url('/feature/channels.svg')"></span>
            <strong class="feat_card_title">Channels</strong>
            <a href="#" class="icon icon_arrow click feat_link"></a>
          </div>

          <div class="feat_card">
            <span class="icons feat_icon" style="background-image: url('/feature/Huddles.svg')"></span>
            <strong class="feat_card_title">Huddles</strong>
            <a href="#" class="icon icon_arrow click feat_link"></a>
          </div>

          <div class="feat_card">
            <span class="icons feat_icon" style="background-image: url('/feature/clips.svg')"></span>
            <strong class="feat_card_title">Clips</strong>
            <a href="#" class="icon icon_arrow click feat_link"></a>
          </div>

          <div class="feat_card">
            <span class="icons feat_icon" style="background-image: url('/feature/canvas.svg')"></span>
            <strong class="feat_card_title">Canvas</strong>
            <a href="#" class="icon icon_arrow click feat_link"></a>
          </div>

          <div class="feat_card">
            <span class="icons feat_icon" style="background-image: url('/feature/messaging.svg')"></span>
            <strong class="feat_card_title">Messaging</strong>
            <a href="#" class="icon icon_arrow click feat_link"></a>
          </div>

          <div class="feat_card">
            <span class="icons feat_icon" style="background-image: url('/feature/accessibility.svg')"></span>
            <strong class="feat_card_title">Accessibility</strong>
            <a href="#" class="icon icon_arrow click feat_link"></a>
          </div>

        </div>
      </div>
    </section>
  </div>



  <section class="feature_2">
    <div class="div_content">
      <img src="/image/need.jpg" alt="Need" class="image_need">
      <div class="feature-2_content">
        <h1 class="feature-2_title">What you need, when you need it</h1>
        <p class="feature-2_description double_line">Spend less time shuffling tabs with a comprehensive message archive
          and
          all your work tools at your fingertips.</p>
      </div>
    </div>
    <div class="features_card">
      <div class="neue_card">
        <span class="icons feat_icon" style="background-image: url('/feature/aaa.svg')"></span>
        <strong class="neue_card_title">Apps and Integrations</strong>
        <p class="neue_card_description double_line">Streamline work by connectingSlack with other services like Google
          Drive, Office 365 and
          over 2,200 more.</p>
        <a href="#" class="icon icon_arrow click feat_link"></a>
      </div>

      <div class="neue_card">
        <span class="icons feat_icon" style="background-image: url('/feature/bbb.svg')"></span>
        <strong class="neue_card_title">Workflow Builder</strong>
        <p class="neue_card_description double_line">Automate routine actions and communication, so you can get back to
          the kind of work only
          humans can do.</p>
        <a href="#" class="icon icon_arrow click feat_link"></a>
      </div>
      <div class="neue_cards">
        <div class="neue_card">
          <span class="icons feat_icon" style="background-image: url('/feature/ccc.svg')"></span>
          <strong class="neue_card_title">Search</strong>
          <p class="neue_card_description double_line"></p>
          <a href="#" class="icon icon_arrow click feat_link"></a>
        </div>

        <div class="neue_card">
          <span class="icons feat_icon" style="background-image: url('/feature/ddd.svg')"></span>
          <strong class="neue_card_title">File sharing</strong>
          <p class="neue_card_description double_line"></p>
          <a href="#" class="icon icon_arrow click feat_link"></a>
        </div>
      </div>
    </div>
  </section>

  <section class="feature_3">
    <div class="div_feature_3_content">
      <img src="/image/deliveroo.png" alt="deliveroo" class="image_deliveroo">
      <div class="feature_3_card">
        <p class="feature_3_description double_line">“The thing that keeps us connected the most is Slack. It’s a
          veryimmediate
          and straightforward method of communication, and really the only channel that people prefer and enjoy using.”
        </p>
        <img src="/image/brands/deliveroobrand.png" alt="deliverobrand" class="brands_image_deliveroo">
        <p class="sprunt">Will Sprunt, CIO, Deliveroo</p>
      </div>
    </div>
  </section>

  <section class="feature_4">
    <div class="div_feature_4_content">
      <h1 class="feature_4_title">Explore more about working in Slack</h1>
      <div class="card">
        <div class="feature_4_card">
          <img src="/image/promomedia.png" alt="promo_media" class="image_promo">
          <div class="feature_slack">Slack Tutorials</div>
          <p class="slack_101">Slack 101</p>
          <button href="#" class="button button-link click">LEARN MORE</button>
          <a href="#" class="icon icon_arrow click feat_link"></a>
        </div>

        <div class="feature_4_card">
          <img src="/image/promo2media.png" alt="promo_media" class="image_promo">
          <div class="feature_slack">Slack vs. Email</div>
          <p class="slack_text">An easier, moreorganized way to work</p>
          <button href="#" class="button button-link click">LEARN MORE</button>
          <a href="#" class="icon icon_arrow click feat_link"></a>
        </div>

        <div class="feature_4_card">
          <img src="/image/promo3media.png" alt="promo_media" class="image_promo">
          <div class="feature_slack">Customer Stories</div>
          <p class="slack_text_2">How Fastly uses Slack Connect to wow enterprise customers</p>
          <button href="#" class="button button-link click">LEARN MORE</button>
          <a href="#" class="icon icon_arrow click feat_link"></a>
        </div>
      </div>
    </div>
  </section>
</body>

</html>